.front-product {
	flex: 0 1 48%;
	margin: 1%;
	max-width: 25rem;

	@media #{$phone_up} {
		flex-basis: 25rem;
	}

	a {
		display: block;
		position: relative;

		&.added_to_cart {
			background: $dark_blue;
			border: 1px solid $white;
			border-radius: 5px;
			color: $white;
			padding: 1rem;
			text-decoration: none;
		
			&:hover,
			&:focus,
			&:active {
				background: $blue_grey;
				color: $white;
			}
		}

		img {
			display: block;
			border-radius: 5px;
			max-height: 15rem;
			max-width: 100%;
			width: 100%;

			@media #{$phone_up} {
				max-height: 25rem;
			}
		}

		.product-price {
			background: $dark_blue;
			bottom: 2rem;
			color: $white;
			display: inline-block;
			left: -1rem;
			padding: 0.5rem;
			position: absolute;

			&::after {
				border: 5px solid transparent;
				border-right-color: $dark_blue;
				border-top-color: $dark_blue;
				bottom: -1rem;
				content: '';
				left: 0;
				position: absolute;
			}
		}
	}

	.sold-by {
		color: $white;

		a {
			color: $white;

			&:hover,
			&:focus,
			&:active {
				color: $dark_blue;
			}
		}
	}
}