.front-products {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 auto 1vw;
	max-width: 98%;
}

.woocommerce {
	ul.products {
		li.product {
			.woocommerce-loop-category__title,
			.woocommerce-loop-product__title,
			h3 {
				color: $white;
			}

			.price {
				.amount {
					background: $dark_blue;
					color: $white;
					padding: 0.5rem;
				}
			}
		}
	}

	.woocommerce-ordering { 
		select {
			background: $white;
			border: 2px solid $dark_blue;
			color: $dark_blue;
		} 
	}
}

.wcvendors_sold_by_in_loop {
	color: $white;
	
	a {
		color: $white;

		&:hover,
		&:focus,
		&:active {
			color: $dark_blue;
		}
	}
}