.single-product {
	.main {
		padding: 1rem;
	}

	.summary {
		.product_title {
			color: $dark_blue;

			@media #{$phone_up_plus} {
				color: $white;
			}
		}
	}

	.product_meta {
		color: $white;

		a {
			color: $light_grey;

			&:hover,
			&:focus,
			&:active {
				color: $dark_blue;
			}
		}

		.sku_wrapper {
			display: none;
		}
	}
}

.woocommerce {
	div.product {	
		p.price {
			color: $white;

			.amount {
				background: $dark_blue;
				padding: 1rem;
			}
		}

		.woocommerce-product-details__short-description {
			color: $white;
		}
		
		form.cart {
			div.quantity {
				float: none;
				margin-bottom: 3rem;

				input {
					border: 2px solid $dark_blue;
				}
			}
		}
	}

	a.added_to_cart {
		color: $white;
	}
}

.woocommerce-tabs {
	.woocommerce-Reviews {
		color: $white;

		p.stars {
			a {
				color: $gold;
			}
		}
	}
}