@mixin overpass($weight: 400) {
	font-family: Overpass, sans-serif;
	font-weight: $weight;
	font-style: normal;
	-web-kit-font-smoothing: antialiased;
}

html {
    font-size: 62.5%; /* 10px browser default */
}

body {
    @include overpass;

    font-size: 1.8rem;
}

button,
.button,
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
	background: $dark_blue;
	border: 1px solid $white;
	border-radius: 5px;
	color: $white;
	padding: 1rem;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		background: $blue_grey;
		color: $white;
	}

	.button-text {
		margin-right: 1rem;
	}
}

.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
	background: $blue_grey;
	border: 1px solid $white;
	color: $white;

	&:hover,
	&:focus,
	&:active {
		background: $dark_blue;
		color: $white;
	}
}

.page-title,
.widgettitle,
.widget-title {
	background: $dark_blue;
	color: $white;
	padding: 1rem;
}

.section-title {
	font-weight: 700;
	margin: 1vw auto;
	max-width: 98%;
}

.product-categories {
	list-style-type: none;
	padding-left: 0;

	.cat-item {
		a {
			color: $light_grey;
			text-decoration: none;

			&:hover,
			&:focus,
			&:active {
				color: $white;
			}
		}
	}
}

.woocommerce {
	.woocommerce-result-count {
		color: $light_grey;
	}

	nav.woocommerce-pagination {
		ul {
			border-radius: 5px;

			li {
				a, span {
					background: $white;
					color: $dark_blue;

					&.current {
						background: $dark_blue;
						color: $white;
					}

					&:hover,
					&:focus,
					&:active {
						background: $blue_grey;
						color: $white;
					}
				}
			}
		}
	}
}

.woo-content {
	.searchform {
		input {
			border: 2px solid $dark_blue;
			padding: 1rem;
		}

		input[type="submit"] {
			background: $dark_blue;
			border-radius: 5px;
			color: $white;
			padding: 1rem;
		}
	}
}