// Colors
$black: #000;
$white: #FFF;
$grey: #999;

// Site Colors
$dark_blue: #262a36;
$blue_grey: #5e626d;
$light_grey: #cacfcb;
$green: #77a464;
$gold: gold;

// Media Queries
$phone_up: 		    "screen and (min-width: 768px)";
$phone_up_plus:     "screen and (min-width: 769px)";
$tablet_up: 	    "screen and (min-width: 1024px)";
$main_menu:         "screen and (min-width: 1129px)";
$desktop_up:	    "screen and (min-width: 1200px)";
$big_desktop_up:	"screen and (min-width: 1300px)";