.home-slider {
	border: 5px solid $white;
	border-radius: 5px;
	display: none;
	margin: 1vw auto;
	max-width: 118.2rem;

	@media #{$phone_up} {
		display: block;
		border-radius: 33px;
	}

	.slider-arrow {
		color: $white;
		font-size: 6rem;
		opacity: 0;
		position: absolute;
		top: calc(50% - 30px);
		transition: opacity 0.4s ease-in-out;
		z-index: 100;

		&.slider-arrow-prev {
			left: 1rem;
		}

		&.slider-arrow-next {
			right: 1rem;
		}
	}

	&:hover .slider-arrow {
		opacity: 1;
	}

	.slick-list {
		border-radius: 0.5rem;
	}
}