.wrap {
    margin: 0 auto;
    max-width: 144rem;

    .archive &,
    .search &,
    .directory &,
    .directory.members & .buddypress-wrap,
    .single-product &,
    .error404 & {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .directory.members & .buddypress-wrap {
        width: 100%;
    }

    .sidebar {
        flex: 0 1 100%;

        @media #{$tablet_up} {
            flex: 0 1 15%;
            margin: 0 2% 0 0;
        }
    }

    .woo-content {
        flex: 0 1 100%;

        @media #{$tablet_up} {
            flex: 0 1 75%;
        }
    }
}