.off-canvas-menu-container {
    padding-top: 5rem;

    .menu {
        list-style-type: none;
        margin: 0;
        padding: 0;

        .menu-item {
            margin-bottom: 1rem;

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}