body {
	overflow-x: hidden;
}

.off-canvas-container {
	background: $black;
	box-sizing: border-box;
	color: $white;
	height: 100%;
	padding: 2rem;
	position: fixed;
	right: -32rem;
	top: 0;
	transition: right 0.4s ease-in-out;
	width: 32rem;
	z-index: 1000;

	.admin-bar & {
		top: 32px;
	}

	&.active {
		right: 0;
	}

	.button-container {
		position: absolute;
		right: 1rem;
		text-align: right;
		top: 1rem;
		width: 100%;
	}
}