.cart-container {
	margin-bottom: 1rem;

	@media #{$phone_up} {
		margin-bottom: 0;
		margin-right: 1rem;
	}

	.woocommerce & a.button,
	.button {
		display: block;
		text-align: center;

		@media #{$phone_up} {
			display: inline-block
		}
	}
}