.site-header {
	align-items: center;
	background: $blue_grey;
	border-bottom: 6px solid $light_grey;
	color: $white;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 0.3rem 1rem;

	.title-container {
		flex: 0 1 100%;
		margin-bottom: 1rem;
		text-align: center;

		@media #{$phone_up} {
			flex: 0 1 auto;
			margin-bottom: 0;
			text-align: left;
		}

		a {
			display: block;

			img {
				display: block;
				margin: 0 auto;
				max-height: 9rem;

				@media #{$phone_up} {
					margin: 0;
					max-height: 5rem;
				}
			}
		}
	}

	.header-buttons-container {
		align-items: center;
		display: flex;
		flex: 0 1 100%;
		flex-flow: row wrap;
		justify-content: center;

		@media #{$phone_up} {
			flex: 0 1 auto;
			justify-content: flex-end;
		}

		.cart-container,
		.search-container,
		.menu-trigger {
			flex: 0 1 100%;

			@media #{$phone_up} {
				flex: 0 1 auto;
			}
		}
	}
}