.sites-menu-container {
	.menu {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		list-style-type: none;
		margin: 0;
		padding-left: 0;

		.menu-item {
			padding: 0.5rem 1rem;

			a {
				color: inherit;
				text-decoration: none;

				&:hover,
				&:focus,
				&:active {
					color: $white;
				}
			}
		}
	}
}

.top-bar-menu-container {
	.menu {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		list-style-type: none;
		margin: 0;

		.menu-item {
			padding: 0.5rem 1rem;

			a {
				color: inherit;
				text-decoration: none;

				&:hover,
				&:focus,
				&:active {
					color: $white;
				}
			}
		}
	}
}

.header-menu-container {
	display: none;

	@media #{$main_menu} {
		display: block;
		margin-right: 2rem;
	}

	.menu {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		list-style-type: none;
		margin: 0;

		.menu-item {
			padding: 0.5rem 1.25rem;

			@media #{$desktop_up} {
				padding: 0.5rem 1.75rem;
			}

			@media #{$big_desktop_up} {
				padding: 0.5rem 2.5rem;
			}

			a {
				color: inherit;
				text-decoration: none;

				&:hover,
				&:focus,
				&:active {
					color: $white;
				}
			}
		}
	}
}