.search-container {
	margin-bottom: 1rem;
	position: relative;

	@media #{$phone_up} {
		margin-bottom: 0;
		margin-right: 1rem;
	}

	.search-trigger {
		width: 100%;
	}

	.search-form-container {
		background: $black;
		display: none;
		padding: 1rem;
		position: absolute;
		left: -1rem;
		top: 10.25rem;
		width: 100%;
		z-index: 100;

		@media #{$phone_up} {
			left: auto;
			right: -1rem;
			top: 5rem;
			width: 30rem;
		}

		input[type="text"] {
			margin-right: 1rem;
			padding: 1rem;
			width: calc(100% - 117px);
		}

		input[type="submit"] {
			background: $white;
			color: $black;
			padding: 1rem;
		}
	}
}