.footer-menu-container {
    .menu {
        list-style-type: none;

        .menu-item {
            margin-bottom: 1rem;
            
            a {
                color: $white;
            }
        }
    }
}