.woocommerce {
    .cart-empty {
        color: $white;
    }

    table.shop_table {
        thead {
            background: $dark_blue;
            color: $white;
        }

        tbody {
            tr {
                background: $white;
                color: $dark_blue;
            }
        }
    }

    .cart_totals {
        h2 {
            color: $white;
        }
    }
}