.archive,
.search,
.error404,
.page {
	.main {
		min-height: 70rem;
		padding: 1rem;
	}
}

.section {
	margin: 8rem 0;

	.section-title {
		color: $white;
		font-size: 4rem;
		text-align: center;
	}
}
