.woocommerce-account {
    .woocommerce {
        align-items: flex-start;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;

        .woocommerce-MyAccount-navigation {
            background: $grey;
            flex: 0 1 100%;
            float: none;
            margin-right: 2%;
            padding: 1rem;
            width: auto;

            @media #{$phone_up} {
                flex: 0 1 15%;
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    a {
                        color: $white;
                        text-decoration: none;

                        &:hover,
                        &:focus,
                        &:active {
                            color: $black;
                        }
                    }
                }
            }
        }

        .woocommerce-MyAccount-content {
            flex: 0 1 100%;
            float: none;
            width: auto;

            @media #{$phone_up} {
                flex: 0 1 80%;
            }
        }
    }
}