/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

html {
  font-size: 62.5%;
  /* 10px browser default */ }

body {
  font-family: Overpass, sans-serif;
  font-weight: 400;
  font-style: normal;
  -web-kit-font-smoothing: antialiased;
  font-size: 1.8rem; }

button,
.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  background: #262a36;
  border: 1px solid #FFF;
  border-radius: 5px;
  color: #FFF;
  padding: 1rem;
  text-decoration: none; }
  button:hover, button:focus, button:active,
  .button:hover,
  .button:focus,
  .button:active,
  .woocommerce #respond input#submit:hover,
  .woocommerce #respond input#submit:focus,
  .woocommerce #respond input#submit:active,
  .woocommerce a.button:hover,
  .woocommerce a.button:focus,
  .woocommerce a.button:active,
  .woocommerce button.button:hover,
  .woocommerce button.button:focus,
  .woocommerce button.button:active,
  .woocommerce input.button:hover,
  .woocommerce input.button:focus,
  .woocommerce input.button:active {
    background: #5e626d;
    color: #FFF; }
  button .button-text,
  .button .button-text,
  .woocommerce #respond input#submit .button-text,
  .woocommerce a.button .button-text,
  .woocommerce button.button .button-text,
  .woocommerce input.button .button-text {
    margin-right: 1rem; }

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background: #5e626d;
  border: 1px solid #FFF;
  color: #FFF; }
  .woocommerce #respond input#submit.alt:hover, .woocommerce #respond input#submit.alt:focus, .woocommerce #respond input#submit.alt:active,
  .woocommerce a.button.alt:hover,
  .woocommerce a.button.alt:focus,
  .woocommerce a.button.alt:active,
  .woocommerce button.button.alt:hover,
  .woocommerce button.button.alt:focus,
  .woocommerce button.button.alt:active,
  .woocommerce input.button.alt:hover,
  .woocommerce input.button.alt:focus,
  .woocommerce input.button.alt:active {
    background: #262a36;
    color: #FFF; }

.page-title,
.widgettitle,
.widget-title {
  background: #262a36;
  color: #FFF;
  padding: 1rem; }

.section-title {
  font-weight: 700;
  margin: 1vw auto;
  max-width: 98%; }

.product-categories {
  list-style-type: none;
  padding-left: 0; }
  .product-categories .cat-item a {
    color: #cacfcb;
    text-decoration: none; }
    .product-categories .cat-item a:hover, .product-categories .cat-item a:focus, .product-categories .cat-item a:active {
      color: #FFF; }

.woocommerce .woocommerce-result-count {
  color: #cacfcb; }

.woocommerce nav.woocommerce-pagination ul {
  border-radius: 5px; }
  .woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
    background: #FFF;
    color: #262a36; }
    .woocommerce nav.woocommerce-pagination ul li a.current, .woocommerce nav.woocommerce-pagination ul li span.current {
      background: #262a36;
      color: #FFF; }
    .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:active, .woocommerce nav.woocommerce-pagination ul li span:hover, .woocommerce nav.woocommerce-pagination ul li span:focus, .woocommerce nav.woocommerce-pagination ul li span:active {
      background: #5e626d;
      color: #FFF; }

.woo-content .searchform input {
  border: 2px solid #262a36;
  padding: 1rem; }

.woo-content .searchform input[type="submit"] {
  background: #262a36;
  border-radius: 5px;
  color: #FFF;
  padding: 1rem; }

.top-bar {
  align-items: center;
  background: #cacfcb;
  display: none;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 1rem; }
  @media screen and (min-width: 768px) {
    .top-bar {
      display: flex; } }

.site-header {
  align-items: center;
  background: #5e626d;
  border-bottom: 6px solid #cacfcb;
  color: #FFF;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0.3rem 1rem; }
  .site-header .title-container {
    flex: 0 1 100%;
    margin-bottom: 1rem;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .site-header .title-container {
        flex: 0 1 auto;
        margin-bottom: 0;
        text-align: left; } }
    .site-header .title-container a {
      display: block; }
      .site-header .title-container a img {
        display: block;
        margin: 0 auto;
        max-height: 9rem; }
        @media screen and (min-width: 768px) {
          .site-header .title-container a img {
            margin: 0;
            max-height: 5rem; } }
  .site-header .header-buttons-container {
    align-items: center;
    display: flex;
    flex: 0 1 100%;
    flex-flow: row wrap;
    justify-content: center; }
    @media screen and (min-width: 768px) {
      .site-header .header-buttons-container {
        flex: 0 1 auto;
        justify-content: flex-end; } }
    .site-header .header-buttons-container .cart-container,
    .site-header .header-buttons-container .search-container,
    .site-header .header-buttons-container .menu-trigger {
      flex: 0 1 100%; }
      @media screen and (min-width: 768px) {
        .site-header .header-buttons-container .cart-container,
        .site-header .header-buttons-container .search-container,
        .site-header .header-buttons-container .menu-trigger {
          flex: 0 1 auto; } }

.cart-container {
  margin-bottom: 1rem; }
  @media screen and (min-width: 768px) {
    .cart-container {
      margin-bottom: 0;
      margin-right: 1rem; } }
  .woocommerce .cart-container a.button,
  .cart-container .button {
    display: block;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .woocommerce .cart-container a.button,
      .cart-container .button {
        display: inline-block; } }

.search-container {
  margin-bottom: 1rem;
  position: relative; }
  @media screen and (min-width: 768px) {
    .search-container {
      margin-bottom: 0;
      margin-right: 1rem; } }
  .search-container .search-trigger {
    width: 100%; }
  .search-container .search-form-container {
    background: #000;
    display: none;
    padding: 1rem;
    position: absolute;
    left: -1rem;
    top: 10.25rem;
    width: 100%;
    z-index: 100; }
    @media screen and (min-width: 768px) {
      .search-container .search-form-container {
        left: auto;
        right: -1rem;
        top: 5rem;
        width: 30rem; } }
    .search-container .search-form-container input[type="text"] {
      margin-right: 1rem;
      padding: 1rem;
      width: calc(100% - 117px); }
    .search-container .search-form-container input[type="submit"] {
      background: #FFF;
      color: #000;
      padding: 1rem; }

.sites-menu-container .menu {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding-left: 0; }
  .sites-menu-container .menu .menu-item {
    padding: 0.5rem 1rem; }
    .sites-menu-container .menu .menu-item a {
      color: inherit;
      text-decoration: none; }
      .sites-menu-container .menu .menu-item a:hover, .sites-menu-container .menu .menu-item a:focus, .sites-menu-container .menu .menu-item a:active {
        color: #FFF; }

.top-bar-menu-container .menu {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0; }
  .top-bar-menu-container .menu .menu-item {
    padding: 0.5rem 1rem; }
    .top-bar-menu-container .menu .menu-item a {
      color: inherit;
      text-decoration: none; }
      .top-bar-menu-container .menu .menu-item a:hover, .top-bar-menu-container .menu .menu-item a:focus, .top-bar-menu-container .menu .menu-item a:active {
        color: #FFF; }

.header-menu-container {
  display: none; }
  @media screen and (min-width: 1129px) {
    .header-menu-container {
      display: block;
      margin-right: 2rem; } }
  .header-menu-container .menu {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0; }
    .header-menu-container .menu .menu-item {
      padding: 0.5rem 1.25rem; }
      @media screen and (min-width: 1200px) {
        .header-menu-container .menu .menu-item {
          padding: 0.5rem 1.75rem; } }
      @media screen and (min-width: 1300px) {
        .header-menu-container .menu .menu-item {
          padding: 0.5rem 2.5rem; } }
      .header-menu-container .menu .menu-item a {
        color: inherit;
        text-decoration: none; }
        .header-menu-container .menu .menu-item a:hover, .header-menu-container .menu .menu-item a:focus, .header-menu-container .menu .menu-item a:active {
          color: #FFF; }

body {
  overflow-x: hidden; }

.off-canvas-container {
  background: #000;
  box-sizing: border-box;
  color: #FFF;
  height: 100%;
  padding: 2rem;
  position: fixed;
  right: -32rem;
  top: 0;
  transition: right 0.4s ease-in-out;
  width: 32rem;
  z-index: 1000; }
  .admin-bar .off-canvas-container {
    top: 32px; }
  .off-canvas-container.active {
    right: 0; }
  .off-canvas-container .button-container {
    position: absolute;
    right: 1rem;
    text-align: right;
    top: 1rem;
    width: 100%; }

.off-canvas-menu-container {
  padding-top: 5rem; }
  .off-canvas-menu-container .menu {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .off-canvas-menu-container .menu .menu-item {
      margin-bottom: 1rem; }
      .off-canvas-menu-container .menu .menu-item a {
        color: #FFF;
        text-decoration: none; }

.site-footer {
  background: #000;
  border-top: 5px solid #999;
  color: #FFF;
  padding: 1rem; }

.footer-menu-container .menu {
  list-style-type: none; }
  .footer-menu-container .menu .menu-item {
    margin-bottom: 1rem; }
    .footer-menu-container .menu .menu-item a {
      color: #FFF; }

.home-slider {
  border: 5px solid #FFF;
  border-radius: 5px;
  display: none;
  margin: 1vw auto;
  max-width: 118.2rem; }
  @media screen and (min-width: 768px) {
    .home-slider {
      display: block;
      border-radius: 33px; } }
  .home-slider .slider-arrow {
    color: #FFF;
    font-size: 6rem;
    opacity: 0;
    position: absolute;
    top: calc(50% - 30px);
    transition: opacity 0.4s ease-in-out;
    z-index: 100; }
    .home-slider .slider-arrow.slider-arrow-prev {
      left: 1rem; }
    .home-slider .slider-arrow.slider-arrow-next {
      right: 1rem; }
  .home-slider:hover .slider-arrow {
    opacity: 1; }
  .home-slider .slick-list {
    border-radius: 0.5rem; }

.wrap {
  margin: 0 auto;
  max-width: 144rem; }
  .archive .wrap,
  .search .wrap,
  .directory .wrap,
  .directory.members .wrap .buddypress-wrap,
  .single-product .wrap,
  .error404 .wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }
  .directory.members .wrap .buddypress-wrap {
    width: 100%; }
  .wrap .sidebar {
    flex: 0 1 100%; }
    @media screen and (min-width: 1024px) {
      .wrap .sidebar {
        flex: 0 1 15%;
        margin: 0 2% 0 0; } }
  .wrap .woo-content {
    flex: 0 1 100%; }
    @media screen and (min-width: 1024px) {
      .wrap .woo-content {
        flex: 0 1 75%; } }

.archive .main,
.search .main,
.error404 .main,
.page .main {
  min-height: 70rem;
  padding: 1rem; }

.section {
  margin: 8rem 0; }
  .section .section-title {
    color: #FFF;
    font-size: 4rem;
    text-align: center; }

.hot {
  margin-top: 2rem; }

.woocommerce-account .woocommerce {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }
  .woocommerce-account .woocommerce .woocommerce-MyAccount-navigation {
    background: #999;
    flex: 0 1 100%;
    float: none;
    margin-right: 2%;
    padding: 1rem;
    width: auto; }
    @media screen and (min-width: 768px) {
      .woocommerce-account .woocommerce .woocommerce-MyAccount-navigation {
        flex: 0 1 15%; } }
    .woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li a {
        color: #FFF;
        text-decoration: none; }
        .woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li a:hover, .woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li a:focus, .woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li a:active {
          color: #000; }
  .woocommerce-account .woocommerce .woocommerce-MyAccount-content {
    flex: 0 1 100%;
    float: none;
    width: auto; }
    @media screen and (min-width: 768px) {
      .woocommerce-account .woocommerce .woocommerce-MyAccount-content {
        flex: 0 1 80%; } }

.woocommerce .cart-empty {
  color: #FFF; }

.woocommerce table.shop_table thead {
  background: #262a36;
  color: #FFF; }

.woocommerce table.shop_table tbody tr {
  background: #FFF;
  color: #262a36; }

.woocommerce .cart_totals h2 {
  color: #FFF; }

.single-product .main {
  padding: 1rem; }

.single-product .summary .product_title {
  color: #262a36; }
  @media screen and (min-width: 769px) {
    .single-product .summary .product_title {
      color: #FFF; } }

.single-product .product_meta {
  color: #FFF; }
  .single-product .product_meta a {
    color: #cacfcb; }
    .single-product .product_meta a:hover, .single-product .product_meta a:focus, .single-product .product_meta a:active {
      color: #262a36; }
  .single-product .product_meta .sku_wrapper {
    display: none; }

.woocommerce div.product p.price {
  color: #FFF; }
  .woocommerce div.product p.price .amount {
    background: #262a36;
    padding: 1rem; }

.woocommerce div.product .woocommerce-product-details__short-description {
  color: #FFF; }

.woocommerce div.product form.cart div.quantity {
  float: none;
  margin-bottom: 3rem; }
  .woocommerce div.product form.cart div.quantity input {
    border: 2px solid #262a36; }

.woocommerce a.added_to_cart {
  color: #FFF; }

.woocommerce-tabs .woocommerce-Reviews {
  color: #FFF; }
  .woocommerce-tabs .woocommerce-Reviews p.stars a {
    color: gold; }

.front-products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto 1vw;
  max-width: 98%; }

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
  color: #FFF; }

.woocommerce ul.products li.product .price .amount {
  background: #262a36;
  color: #FFF;
  padding: 0.5rem; }

.woocommerce .woocommerce-ordering select {
  background: #FFF;
  border: 2px solid #262a36;
  color: #262a36; }

.wcvendors_sold_by_in_loop {
  color: #FFF; }
  .wcvendors_sold_by_in_loop a {
    color: #FFF; }
    .wcvendors_sold_by_in_loop a:hover, .wcvendors_sold_by_in_loop a:focus, .wcvendors_sold_by_in_loop a:active {
      color: #262a36; }

.front-product {
  flex: 0 1 48%;
  margin: 1%;
  max-width: 25rem; }
  @media screen and (min-width: 768px) {
    .front-product {
      flex-basis: 25rem; } }
  .front-product a {
    display: block;
    position: relative; }
    .front-product a.added_to_cart {
      background: #262a36;
      border: 1px solid #FFF;
      border-radius: 5px;
      color: #FFF;
      padding: 1rem;
      text-decoration: none; }
      .front-product a.added_to_cart:hover, .front-product a.added_to_cart:focus, .front-product a.added_to_cart:active {
        background: #5e626d;
        color: #FFF; }
    .front-product a img {
      display: block;
      border-radius: 5px;
      max-height: 15rem;
      max-width: 100%;
      width: 100%; }
      @media screen and (min-width: 768px) {
        .front-product a img {
          max-height: 25rem; } }
    .front-product a .product-price {
      background: #262a36;
      bottom: 2rem;
      color: #FFF;
      display: inline-block;
      left: -1rem;
      padding: 0.5rem;
      position: absolute; }
      .front-product a .product-price::after {
        border: 5px solid transparent;
        border-right-color: #262a36;
        border-top-color: #262a36;
        bottom: -1rem;
        content: '';
        left: 0;
        position: absolute; }
  .front-product .sold-by {
    color: #FFF; }
    .front-product .sold-by a {
      color: #FFF; }
      .front-product .sold-by a:hover, .front-product .sold-by a:focus, .front-product .sold-by a:active {
        color: #262a36; }
